<div class="container">
  <div class="row">
    <div class="card col s12">
      <div class="card-content">
        <div class="card-title">New Post</div>
        <%= form_tag posts_path do %>
          <div class="input-field">
            <%= text_area_tag :content, nil, class: "materialize-textarea", placeholder: "What's on your mind?" %>
          </div>

          <div class="input-field">
            <%= button_tag "Post", class: "btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
